<div class="content">
    <div class="section">
        <app-header></app-header>
        <div class="section1">
            <div class="info">
                <span>Hello I'm</span>
                 <p class="name">Ruel Ngatia</p>
                <p class="proffession">Fullstack dev</p>
                <p class="email">ruelngatia@gmail.com</p>
                <p class="phone">+254 718432590</p>
                <ul class="accounts">
                    <li><i class="bi bi-twitter"></i></li>
                    <li><i class="bi bi-github"></i></li>
                    <li><i class="bi bi-dribbble"></i></li>
                </ul>
            </div>        
            <div class="profile">
                <img width="220" src="	http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/hero.png" alt="profile">
            </div>  
        </div>    
    </div>
    <div class="section2">
        <div class="icon-svg">
            <app-animation ></app-animation>
        </div>
        <div class="about-me">
            <h2>About Me</h2>
            <p>
                Hello, I’m a Ruel, web-developer based on Kenya. I have rich experience in web site design & building and customization. Also I am good at
            </p>
            <Ul>
                <li><span>HTML</span></li>
                <li><span>CSS</span></li>
                <li><span>Javascript</span></li>
                <li><span>React</span></li>
                <li><span>Angular</span></li>
            </Ul>
            <button>
                Download CV 
                <i class="bi bi-download"></i>
            </button>

        </div>
    </div> 
    
    <div class="section3">
        <h2>What I do</h2>
        <div class="d-container">
            <div>
                <!-- <i class="bi bi-file-earmark-richtext"></i> -->
                <i style="color: #8A6AE3;" class="bi bi-palette"></i>
                <h3>UI Design</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Aperiam cum esse similique veritatis molestiae vero,
                      sint fugit, ipsam, dolorum velit dolores.
                       Placeat debitis doloremque laborum iure animi nesciunt,
                        pariatur molestias?
                </p> 
            </div>
            <div>
                <i style="color: orange;" class="bi bi-code-slash"></i>
                <h3>Web Development</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Aperiam cum esse similique veritatis molestiae vero,
                      sint fugit, ipsam, dolorum velit dolores.
                       Placeat debitis doloremque laborum iure animi nesciunt,
                        pariatur molestias?
                </p> 
            </div>
            <div>
                <i style="color: #2484C7;" class="bi bi-google-play"></i>
                <h3>App Development</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Aperiam cum esse similique veritatis molestiae vero,
                      sint fugit, ipsam, dolorum velit dolores.
                       Placeat debitis doloremque laborum iure animi nesciunt,
                        pariatur molestias?
                </p> 
            </div>
        </div>
    </div>
    <div class="section4">
        <div class="technical">
            <h2>Technical Skills</h2>
            <ul>
                <li>
                    <div class="progressbar-label">
                        <label for="">Html</label>
                        <span>70%</span>
                    </div>
                    <progress value="70" max="100"></progress>
                </li>
                <li>
                    <div class="progressbar-label">
                        <label for="">Css</label>
                        <span>60%</span>
                    </div>
                    <progress value="60" max="100"></progress>
                </li>
                <li>
                    <div class="progressbar-label">
                        <label for="">Javascript</label>
                        <span>64%</span>
                    </div>
                    <progress value="64" max="100"></progress>
                </li>
                <li>
                    <div class="progressbar-label">
                        <label for="">React</label>
                        <span>50%</span>
                    </div>
                    <progress value="50" max="100"></progress>
                </li>
                <li>
                    <div class="progressbar-label">
                        <label for="">Angular</label>
                        <span>10%</span>
                    </div>
                    <progress value="10" max="100"></progress>
                </li>
            </ul>            

        </div>
        <div class="Professional">
            <h2>Professional Skills</h2>
            <ul>
                <li>
                    <div class="pie-dimension coms"></div>
                    <p>Communication</p>
                </li>
                <li>
                    <div class="pie-dimension team"></div>
                    <p>Team Work</p>
                </li>
                <li>
                    <div class="pie-dimension proj"></div>
                    <p>Project Management</p>
                </li>
                <li>
                    <div class="pie-dimension creative"></div>
                    <p>Creativity</p>
                </li>
            </ul>
        </div>
    </div>

</div>
