.content{
    width: 100%;
    
}

.section{
    background: url('https://c4.wallpaperflare.com/wallpaper/840/954/346/dark-night-rain-car-wallpaper-preview.jpg') rgba(219, 3, 3, 0.466);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

.section1{ 
    padding-top: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section1 .info span{
    background-color: #0CBBA0;
    color: white;
    font-weight: bolder;
    padding-inline: 3em;
    padding-block: .4em;
    border-radius: 1em 1em 1em 0px;
}

.section1 .profile{
    border-radius: 50%;
    border: 2em solid grey;
}

.section1 .profile img{
    border-radius: 50%;
    border: 1em solid grey;

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    margin-top: 4px;
}

.info ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.8em;
}

.info p{
    margin: 4px;
}

.info .name{
    font-size: 2rem;
}

.info .proffession{
    font-size: 1rem;
}

.info .email{
    font-size: .8rem;
}

.info .phone{
    font-size: .8rem;
}

.section2{
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    background-color: #100E17;
    color: white;
    justify-content: center;
}

.icon-svg{
    width: 20%;
    padding-inline: 2rem;
    /* border: 2px solid #0CBBA0; */
}
.about-me{
    width: 25%;
    text-align: left;
    padding: 3rem;
}

.about-me ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.about-me ul li span{
    border: 1px solid #0CBBA0;
    padding: 2px;
    border-radius: 4px;
}

.about-me button{
    background-color: #0CBBA0;
    color: white;
    border-radius: 1em;
    border: none;
    padding: .6em 2em;
    font-size: 1rem;
    font-weight: bolder;
}

.section3{
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-top: 0px;
    background-color: #100E17;
    color: white;
}

.section3 h2{
    margin: 0px;
    margin-bottom: .8rem;
}

.section3 .d-container{
    display:  flex;
    flex-direction: row;
    gap: 4rem;
    padding-inline: 5rem;
    justify-content: center;
}

.section3 .d-container div{
    text-align: left;
    padding-inline: 1rem;
    background-color: #1F1E24;
    padding: 1rem;
    border-radius: 5px;
    /* box-shadow: 1px 5px black; */
}

.section3 .d-container div p{
    font-size: .8rem;
}

.section3 .d-container div i{
    font-size: 2rem;
}

.section4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    padding: .8rem;
    gap: 5rem;
    padding-inline: 4rem;
}

.section4 .technical{
    flex: 1;
}

.section4 .Professional{
    flex: 1;
}

.section4  ul{
    list-style: none;
}

.section4 .technical progress{
    width: 100%;
    margin-bottom: .6rem;
}

.section4 .technical .progressbar-label{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 4px;
}

.section4 .technical .progressbar-label span{
    font-size: .8rem;
}

.section4 .Professional ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

.section4 .Professional .pie-dimension{
    width: 50%;
    aspect-ratio: 1;
}

.section4 .coms{  
    border-radius: 50%;
    background: radial-gradient(closest-side, black 79%, transparent 80% 100%),
        conic-gradient(#0CBBA0 87%, #7C7B80 0); 
}

.section4 .team{
    border-radius: 50%;
    background: radial-gradient(closest-side, black 79%, transparent 80% 100%),
        conic-gradient(#0CBBA0 85%, #7C7B80 0); 
}


.section4 .proj{
    border-radius: 50%;
    background: radial-gradient(closest-side, black 79%, transparent 80% 100%),
    conic-gradient(#0CBBA0 75%, #7C7B80 0); 
}

.section4 .creative{
    border-radius: 50%;
    background: radial-gradient(closest-side, black 79%, transparent 80% 100%),
    conic-gradient(#0CBBA0 70%, #7C7B80 0); 
}



@media screen and (min-width: 600px) {

    .section1{
        padding-top: 15rem;
        flex-direction: row;
        gap: 14rem;
    }

    .info{
        align-items: start;
    }

    .info .name{
        font-size: 4rem;
    }
    
    .info .proffession{
        font-size: 2.5rem;
    }
    
    .info .email{
        font-size: 1rem;
    }
    
    .info .phone{
        font-size: 1rem;
    }

}

@media screen and (max-width: 600px) {
    .section2{
        flex-direction: column;
        align-content: center;
        gap: .3rem;
    }

    .icon-svg{
        all: unset;       
    }

    .about-me{
        all: unset;
        padding: 1rem;
        text-align: center;
    }

    .about-me p{
        padding-inline: 2rem;
    } 

    .section3 .d-container{
        flex-direction: column;
    }

    .section3 .d-container{
        padding-inline: 2rem;
    }

    .section4{
        justify-content: left;
    }

    
}

@media screen and (min-width: 900px) {
    .section1{
        padding-top: 13rem;
        flex-direction: row;
        gap: 8rem;
    }

    .info .name{
        font-size: 4rem;
    }
    
    .info{
        align-items: start;
    }

    .info .proffession{
        font-size: 2.5rem;
    }
    
    .info .email{
        font-size: 1rem;
    }
    
    .info .phone{
        font-size: 1rem;
    }   

}